{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <br>
    <form action="/guest" method="post">
        <button type="submit" name=guest>Continue as guest</button>
    </form>
    <br>
    <a href="/reset-password" class="btn btn-primary" style="text-decoration: none;">Reset Password</a>

    <script>
        let body = document.querySelector('body');
        body.style.background = 'url(https://static.vecteezy.com/system/resources/previews/002/853/728/original/cute-astronaut-in-space-background-illustration-vector.jpg)';
        body.style.backgroundSize = 'cover';
        body.style.backgroundRepeat = 'no-repeat';

        let main = document.querySelector('main');
        main.style.animation = 'fade ease 1s';

    </script>

{% endblock %}
